# 데이터 전처리

## 1. 데이터 불러오기

* 월별데이터(시장)
* 일별데이터(가격,종합,희소,환율)

In [36]:
import pandas as pd
가격=pd.read_csv('../data/니켈/니켈가격.csv')
종합=pd.read_csv('../data/니켈/광물종합지수.csv',encoding='cp949')
시장=pd.read_csv('../data/니켈/시장전망지표.csv',encoding='cp949')
메이저=pd.read_csv('../data/니켈/메이저금속지수.csv',encoding='cp949')
환율=pd.read_csv('../data/니켈/환율.csv',encoding='cp949')
수출입=pd.read_csv('../data/니켈/니켈수출입.csv')
수급안정화=pd.read_csv('../data/니켈/수급안정화.csv')

In [37]:
수급안정화=수급안정화[['기준일','수급안정화지수']]
수급안정화

        기준일  수급안정화지수
0   2017-01      NaN
1   2017-02    78.24
2   2017-03    74.56
3   2017-04    77.10
4   2017-05    80.06
..      ...      ...
85  2024-02    52.14
86  2024-03    51.21
87  2024-04    44.00
88  2024-05    36.40
89  2024-06    27.85

[90 rows x 2 columns]

In [38]:
#가격데이터는 06-06까지 -> 주말은 빠진다.
가격2=가격[가격['기준일']<'2024-05-21']
가격2

            기준일   기준가격   등락가  등락비율     재고량
0    2021-06-09  18088   260  1.46  241260
1    2021-06-10  17783  -305 -1.69  240570
2    2021-06-11  18303   520  2.92  240732
3    2021-06-14  18276   -27 -0.15  240222
4    2021-06-15  17909  -367 -2.01  240492
..          ...    ...   ...   ...     ...
739  2024-05-14  18940    30  0.16   80814
740  2024-05-15  19050   110  0.58   80994
741  2024-05-16  19335   285  1.50   81630
742  2024-05-17  20735  1400  7.24   81804
743  2024-05-20  21270   535  2.58   81834

[744 rows x 5 columns]

In [39]:
# 광물 종합지수는 5.20까지 -> 주말은 제외된다.
종합.tail(10)

,기준일,광물종합지수,등락가,등락율(퍼센트),이동평균(10),이동평균(20),이동평균(60),이동평균(120),이동평균(200),볼린저밴드(하한선),...,상한이격률,투자심리선,상대강도지수(RSI),이동평균 수렴확산(MACD),시그널,이격도(10),이격도(20),이격도(60),이격도(120),이격도(200)
3175,2024-05-07,2926.744285,2.078236,0.000711,2916.083441,2880.002635,2746.890275,2732.913121,2753.280139,2753.525733,...,0.026521,0.7,0.682149,0.053822,0.018396,0.003656,0.016230,0.065475,0.070925,0.063003
3176,2024-05-08,2947.205125,20.460840,0.006991,2922.202903,2890.200489,2751.735457,2734.305887,2753.943105,2778.075214,...,0.018359,0.8,0.652929,0.057014,0.021768,0.008556,0.019723,0.071035,0.077862,0.070176
3177,2024-05-09,2918.406309,-28.798816,-0.009772,2924.451981,2897.484064,2756.208533,2735.427665,2754.411250,2799.446757,...,0.025743,0.7,0.489603,0.059244,0.025190,-0.002067,0.007221,0.058848,0.066892,0.059539
3178,2024-05-10,2898.537472,-19.868837,-0.006808,2922.576933,2904.198823,2760.194604,2736.389026,2754.948969,2828.805514,...,0.027203,0.6,0.387600,0.061325,0.028643,-0.008225,-0.001949,0.050121,0.059256,0.052120
3179,2024-05-13,2916.080354,17.542882,0.006052,2923.210789,2909.537923,2764.376992,2737.655697,2755.643892,2848.728177,...,0.018270,0.7,0.468533,0.062784,0.032066,-0.002439,0.002249,0.054878,0.065174,0.058221
3180,2024-05-14,2904.495116,-11.585238,-0.003973,2921.978376,2912.672906,2768.582882,2738.799079,2756.438774,2860.752932,...,0.020272,0.6,0.551064,0.063485,0.035377,-0.005983,-0.002808,0.049091,0.060500,0.053713
3181,2024-05-15,2883.468771,-21.026345,-0.007239,2917.241904,2915.162442,2772.777281,2739.860338,2757.246568,2875.978039,...,0.023991,0.5,0.467606,0.063982,0.038574,-0.011577,-0.010872,0.039921,0.052415,0.045778
3182,2024-05-16,2908.732163,25.263392,0.008761,2914.801576,2916.816736,2776.876349,2741.087662,2758.086599,2882.120089,...,0.014495,0.5,0.478175,0.064109,0.041612,-0.002082,-0.002772,0.047484,0.061160,0.054620
3183,2024-05-17,2923.022685,14.290522,0.004913,2915.135833,2916.823483,2781.214806,2742.398255,2758.955338,2882.121813,...,0.009657,0.6,0.532752,0.063603,0.044436,0.002705,0.002125,0.050988,0.065864,0.059467
3184,2024-05-20,2962.905545,39.882859,0.013644,2918.959783,2917.658274,2786.222895,2744.028505,2760.086494,2879.362897,...,-0.002352,0.6,0.597825,0.063275,0.047030,0.015055,0.015508,0.063413,0.079765,0.073483

In [40]:
# 환율은 6-13까지 -> 주말제외
환율2=환율[환율['Date']<'2024-05-21']
환율2.tail(5)

           Date        Close
813  2024-05-14  1363.790039
814  2024-05-15  1362.550049
815  2024-05-16  1353.599976
816  2024-05-17  1346.040039
817  2024-05-20  1353.390015

In [41]:
#시장은 5월까지
시장.tail(5)

         기준일  시장전망지표  전월대비  등락가  전월대비 등락율
192  2024-01   50.06       0.77      1.56
193  2024-02   53.19       3.12      6.23
194  2024-03   52.24      -0.95     -1.78
195  2024-04   44.88      -7.36    -14.09
196  2024-05   36.40      -8.48    -18.90

In [42]:
#희소는 5-20까지
메이저.tail(5)

             기준일      메이저금속지수
3180  2024-05-14  2537.347341
3181  2024-05-15  2535.818450
3182  2024-05-16  2555.724912
3183  2024-05-17  2575.030928
3184  2024-05-20  2604.892772

In [43]:
수출입

,기간,HS코드,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,총계,NaN,NaN,1840.1,1667,13874617.2,1423689,-1422022
1,2019-09,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,296026.0,22178,-22178
2,2019-10,2.604000e+09,니켈광과 그 정광(精鑛),127.6,255,300576.0,28045,-27790
3,2019-11,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,293401.0,26939,-26939
4,2019-12,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,401032.0,32412,-32412
5,2020-01,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,120241.0,9282,-9282
6,2020-02,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,115729.0,8701,-8701
7,2020-03,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,250074.0,17422,-17422
8,2020-04,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,236311.0,15668,-15668
9,2020-05,2.604000e+09,니켈광과 그 정광(精鑛),21.5,2,288631.0,18065,-18063
10,2020-06,2.604000e+09,니켈광과 그 정광(精鑛),14.0,41,293015.0,17634,-17593
11,2020-07,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,302850.0,19833,-19833
12,2020-08,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,190379.0,12726,-12726
13,2020-09,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,238292.5,16808,-16808
14,2020-10,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,248332.0,18222,-18222
15,2020-11,2.604000e+09,니켈광과 그 정광(精鑛),18.2,9,227688.0,17029,-17020
16,2020-12,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,420600.0,32205,-32205
17,2021-01,2.604000e+09,니켈광과 그 정광(精鑛),8.5,6,109728.0,8772,-8765
18,2021-02,2.604000e+09,니켈광과 그 정광(精鑛),42.6,21,55000.0,4812,-4792
19,2021-03,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,294795.0,29308,-29308
20,2021-04,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,225001.0,22769,-22769
21,2021-05,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,300574.0,26912,-26912
22,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,311072.1,26962,-26962
23,2021-07,2.604000e+09,니켈광과 그 정광(精鑛),35.1,15,292084.0,31027,-31012
24,2021-08,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,355608.0,38193,-38193
25,2021-09,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,365787.0,39324,-39324
26,2021-10,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,175318.9,27437,-27437
27,2021-11,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,343960.0,42893,-42893
28,2021-12,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,352606.0,42275,-42275
29,2022-01,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,187410.1,21087,-21087
30,2022-02,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,120257.0,13904,-13904
31,2022-03,2.604000e+09,니켈광과 그 정광(精鑛),45.6,64,109901.0,13502,-13439
32,2022-04,2.604000e+09,니켈광과 그 정광(精鑛),61.9,143,210657.6,29125,-28983
33,2022-05,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,308722.0,52058,-52058
34,2022-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,355339.0,60428,-60428
35,2022-07,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,99980.0,25596,-25596
36,2022-08,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,280673.4,42411,-42411
37,2022-09,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,215580.0,27989,-27989
38,2022-10,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,235046.3,28572,-28572
39,2022-11,2.604000e+09,니켈광과 그 정광(精鑛),0.3,0,294599.0,36778,-36778
40,2022-12,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,235121.0,30977,-30977
41,2023-01,2.604000e+09,니켈광과 그 정광(精鑛),6.8,60,217545.0,24836,-24776
42,2023-02,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,120271.1,13265,-13265
43,2023-03,2.604000e+09,니켈광과 그 정광(精鑛),20.2,64,342270.3,45625,-45562
44,2023-04,2.604000e+09,니켈광과 그 정광(精鑛),38.3,30,216871.3,24123,-24093
45,2023-05,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,246387.0,28982,-28982
46,2023-06,2.604000e+09,니켈광과 그 정광(精鑛),7.2,96,365627.0,47362,-47266
47,2023-07,2.604000e+09,니켈광과 그 정광(精鑛),10.2,124,117625.4,14182,-14058
48,2023-08,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,302683.2,29835,-29835
49,2023-09,2.604000e+09,니켈광과 그 정광(精鑛),604.5,321,238010.9,20459,-20138
50,2023-10,2.604000e+09,니켈광과 그 정광(精鑛),267.7,140,172091.0,15128,-14988
51,2023-11,2.604000e+09,니켈광과 그 정광(精鑛),112.2,10,413335.2,37126,-37117
52,2023-12,2.604000e+09,니켈광과 그 정광(精鑛),113.2,183,282827.0,23937,-23753
53,2024-01,2.604000e+09,니켈광과 그 정광(精鑛),43.6,2,303020.8,25122,-25120
54,2024-02,2.604000e+09,니켈광과 그 정광(精鑛),93.5,4,55022.1,4454,-4450
55,2024-03,2.604000e+09,니켈광과 그 정광(精鑛),44.8,3,175426.6,13770,-13767
56,2024-04,2.604000e+09,니켈광과 그 정광(精鑛),102.3,76,247605.0,19202,-19126

## 2. 데이터 살펴보기

광물가격데이터에서 다음 날짜가 휴일임에도 불구하고 존재함(제거)

- 2021.09.18
- 2021.09.26
- 2022.04.02
- 2022.04.26
- 2023.05.06 (내생일 ㅋ)
- 2023.06.25
- 2024.02.04
- 2024.04.28
- 2024.05.11

In [44]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#가격 종합 환율 시장 희소

tmp=pd.merge(가격2,종합,on='기준일',how='left')
tmp.isna().sum()

기준일                0
기준가격               0
등락가_x              0
등락비율               0
재고량                0
광물종합지수             0
등락가_y              0
등락율(퍼센트)           0
이동평균(10)           0
이동평균(20)           0
이동평균(60)           0
이동평균(120)          0
이동평균(200)          0
볼린저밴드(하한선)         0
볼린저밴드(중심선)         0
볼린저밴드(상한선)         0
표준편차(20)           0
하한이격률              0
상한이격률              0
투자심리선              0
상대강도지수(RSI)        0
이동평균 수렴확산(MACD)    0
시그널                0
이격도(10)            0
이격도(20)            0
이격도(60)            0
이격도(120)           0
이격도(200)           0
dtype: int64

In [45]:
결측일자=['2021-09-18','2021-09-26','2022-04-02','2022-04-24','2022-05-07',
     '2023-04-23','2023-05-06','2023-06-25','2024-02-04','2024-04-07','2024-04-28','2024-05-11']

가격3=가격2[~가격2['기준일'].isin(결측일자)]
가격3

            기준일   기준가격   등락가  등락비율     재고량
0    2021-06-09  18088   260  1.46  241260
1    2021-06-10  17783  -305 -1.69  240570
2    2021-06-11  18303   520  2.92  240732
3    2021-06-14  18276   -27 -0.15  240222
4    2021-06-15  17909  -367 -2.01  240492
..          ...    ...   ...   ...     ...
739  2024-05-14  18940    30  0.16   80814
740  2024-05-15  19050   110  0.58   80994
741  2024-05-16  19335   285  1.50   81630
742  2024-05-17  20735  1400  7.24   81804
743  2024-05-20  21270   535  2.58   81834

[744 rows x 5 columns]

In [46]:
가격종합=pd.merge(가격3,종합,on='기준일',how='left')
가격종합.isna().sum()

기준일                0
기준가격               0
등락가_x              0
등락비율               0
재고량                0
광물종합지수             0
등락가_y              0
등락율(퍼센트)           0
이동평균(10)           0
이동평균(20)           0
이동평균(60)           0
이동평균(120)          0
이동평균(200)          0
볼린저밴드(하한선)         0
볼린저밴드(중심선)         0
볼린저밴드(상한선)         0
표준편차(20)           0
하한이격률              0
상한이격률              0
투자심리선              0
상대강도지수(RSI)        0
이동평균 수렴확산(MACD)    0
시그널                0
이격도(10)            0
이격도(20)            0
이격도(60)            0
이격도(120)           0
이격도(200)           0
dtype: int64

In [47]:
가격종합환율=pd.merge(가격종합,환율,left_on='기준일',right_on='Date',how='left')
가격종합환율.isna().sum()

기준일                0
기준가격               0
등락가_x              0
등락비율               0
재고량                0
광물종합지수             0
등락가_y              0
등락율(퍼센트)           0
이동평균(10)           0
이동평균(20)           0
이동평균(60)           0
이동평균(120)          0
이동평균(200)          0
볼린저밴드(하한선)         0
볼린저밴드(중심선)         0
볼린저밴드(상한선)         0
표준편차(20)           0
하한이격률              0
상한이격률              0
투자심리선              0
상대강도지수(RSI)        0
이동평균 수렴확산(MACD)    0
시그널                0
이격도(10)            0
이격도(20)            0
이격도(60)            0
이격도(120)           0
이격도(200)           0
Date               0
Close              0
dtype: int64

In [48]:
가격종합환율메이저=pd.merge(가격종합환율,메이저,on='기준일',how='left')
가격종합환율메이저.isna().sum()

기준일                0
기준가격               0
등락가_x              0
등락비율               0
재고량                0
광물종합지수             0
등락가_y              0
등락율(퍼센트)           0
이동평균(10)           0
이동평균(20)           0
이동평균(60)           0
이동평균(120)          0
이동평균(200)          0
볼린저밴드(하한선)         0
볼린저밴드(중심선)         0
볼린저밴드(상한선)         0
표준편차(20)           0
하한이격률              0
상한이격률              0
투자심리선              0
상대강도지수(RSI)        0
이동평균 수렴확산(MACD)    0
시그널                0
이격도(10)            0
이격도(20)            0
이격도(60)            0
이격도(120)           0
이격도(200)           0
Date               0
Close              0
메이저금속지수            0
dtype: int64

In [49]:
가격종합환율메이저=가격종합환율메이저[['기준일','기준가격','광물종합지수','메이저금속지수','Close']]
가격종합환율메이저

            기준일   기준가격       광물종합지수      메이저금속지수        Close
0    2021-06-09  18088  2407.510943  2494.113774  1116.890015
1    2021-06-10  17783  2436.458355  2523.494802  1116.410034
2    2021-06-11  18303  2452.915918  2519.403176  1111.260010
3    2021-06-14  18276  2498.367968  2567.594194  1115.550049
4    2021-06-15  17909  2496.551463  2564.669309  1116.319946
..          ...    ...          ...          ...          ...
739  2024-05-14  18940  2904.495116  2537.347341  1363.790039
740  2024-05-15  19050  2883.468771  2535.818450  1362.550049
741  2024-05-16  19335  2908.732163  2555.724912  1353.599976
742  2024-05-17  20735  2923.022685  2575.030928  1346.040039
743  2024-05-20  21270  2962.905545  2604.892772  1353.390015

[744 rows x 5 columns]

In [50]:
# 기존 데이터에서 에서 연도와월만 저장하여 시장과 merge

가격종합환율메이저['기준연월']=가격종합환율메이저['기준일'].str[:7]
가격종합환율메이저

            기준일   기준가격       광물종합지수      메이저금속지수        Close     기준연월
0    2021-06-09  18088  2407.510943  2494.113774  1116.890015  2021-06
1    2021-06-10  17783  2436.458355  2523.494802  1116.410034  2021-06
2    2021-06-11  18303  2452.915918  2519.403176  1111.260010  2021-06
3    2021-06-14  18276  2498.367968  2567.594194  1115.550049  2021-06
4    2021-06-15  17909  2496.551463  2564.669309  1116.319946  2021-06
..          ...    ...          ...          ...          ...      ...
739  2024-05-14  18940  2904.495116  2537.347341  1363.790039  2024-05
740  2024-05-15  19050  2883.468771  2535.818450  1362.550049  2024-05
741  2024-05-16  19335  2908.732163  2555.724912  1353.599976  2024-05
742  2024-05-17  20735  2923.022685  2575.030928  1346.040039  2024-05
743  2024-05-20  21270  2962.905545  2604.892772  1353.390015  2024-05

[744 rows x 6 columns]

In [51]:
final=pd.merge(가격종합환율메이저,시장,left_on='기준연월',right_on='기준일',how='left')
final.isna().sum()

기준일_x        0
기준가격         0
광물종합지수       0
메이저금속지수      0
Close        0
기준연월         0
기준일_y        0
시장전망지표       0
전월대비  등락가    0
전월대비 등락율     0
dtype: int64

In [52]:
수출입.head()

,기간,HS코드,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,총계,NaN,NaN,1840.1,1667,13874617.2,1423689,-1422022
1,2019-09,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,296026.0,22178,-22178
2,2019-10,2.604000e+09,니켈광과 그 정광(精鑛),127.6,255,300576.0,28045,-27790
3,2019-11,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,293401.0,26939,-26939
4,2019-12,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0,401032.0,32412,-32412

In [53]:
수출입.drop(0,axis=0,inplace=True)
수출입.head()

        기간          HS코드            품목명  수출 중량  수출 금액     수입 중량  수입 금액   무역수지
1  2019-09  2.604000e+09  니켈광과 그 정광(精鑛)    0.0      0  296026.0  22178 -22178
2  2019-10  2.604000e+09  니켈광과 그 정광(精鑛)  127.6    255  300576.0  28045 -27790
3  2019-11  2.604000e+09  니켈광과 그 정광(精鑛)    0.0      0  293401.0  26939 -26939
4  2019-12  2.604000e+09  니켈광과 그 정광(精鑛)    0.0      0  401032.0  32412 -32412
5  2020-01  2.604000e+09  니켈광과 그 정광(精鑛)    0.0      0  120241.0   9282  -9282

In [54]:
final2=pd.merge(final,수출입,left_on='기준연월',right_on='기간',how='left')
final2.head()

,기준일_x,기준가격,광물종합지수,메이저금속지수,Close,기준연월,기준일_y,시장전망지표,전월대비 등락가,전월대비 등락율,기간,HS코드,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지
0,2021-06-09,18088,2407.510943,2494.113774,1116.890015,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0
1,2021-06-10,17783,2436.458355,2523.494802,1116.410034,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0
2,2021-06-11,18303,2452.915918,2519.403176,1111.260010,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0
3,2021-06-14,18276,2498.367968,2567.594194,1115.550049,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0
4,2021-06-15,17909,2496.551463,2564.669309,1116.319946,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0

In [55]:
final2.isna().sum()

기준일_x         0
기준가격          0
광물종합지수        0
메이저금속지수       0
Close         0
기준연월          0
기준일_y         0
시장전망지표        0
전월대비  등락가     0
전월대비 등락율      0
기간           13
HS코드         13
품목명          13
수출 중량        13
수출 금액        13
수입 중량        13
수입 금액        13
무역수지         13
dtype: int64

In [56]:
final3=pd.merge(final2,수급안정화,left_on='기준연월',right_on='기준일',how='left')
final3

,기준일_x,기준가격,광물종합지수,메이저금속지수,Close,기준연월,기준일_y,시장전망지표,전월대비 등락가,전월대비 등락율,기간,HS코드,품목명,수출 중량,수출 금액,수입 중량,수입 금액,무역수지,기준일,수급안정화지수
0,2021-06-09,18088,2407.510943,2494.113774,1116.890015,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0,2021-06,12.08
1,2021-06-10,17783,2436.458355,2523.494802,1116.410034,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0,2021-06,12.08
2,2021-06-11,18303,2452.915918,2519.403176,1111.260010,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0,2021-06,12.08
3,2021-06-14,18276,2498.367968,2567.594194,1115.550049,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0,2021-06,12.08
4,2021-06-15,17909,2496.551463,2564.669309,1116.319946,2021-06,2021-06,12.57,-6.58,-34.37,2021-06,2.604000e+09,니켈광과 그 정광(精鑛),0.0,0.0,311072.1,26962.0,-26962.0,2021-06,12.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,2024-05-14,18940,2904.495116,2537.347341,1363.790039,2024-05,2024-05,36.40,-8.48,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05,36.40
740,2024-05-15,19050,2883.468771,2535.818450,1362.550049,2024-05,2024-05,36.40,-8.48,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05,36.40
741,2024-05-16,19335,2908.732163,2555.724912,1353.599976,2024-05,2024-05,36.40,-8.48,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05,36.40
742,2024-05-17,20735,2923.022685,2575.030928,1346.040039,2024-05,2024-05,36.40,-8.48,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05,36.40
743,2024-05-20,21270,2962.905545,2604.892772,1353.390015,2024-05,2024-05,36.40,-8.48,-18.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-05,36.40

In [58]:
final4=final3[['기준일_x','기준가격','광물종합지수','메이저금속지수','Close','시장전망지표','무역수지','수출 중량','수출 금액','수입 중량','수입 금액','수급안정화지수']]

In [59]:
final4.rename(columns={'기준일_x':'기준일','Close':'환율'},inplace=True)
final4

C:\Users\wandong\AppData\Local\Temp\ipykernel_11668\955931381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final4.rename(columns={'기준일_x':'기준일','Close':'환율'},inplace=True)

,기준일,기준가격,광물종합지수,메이저금속지수,환율,시장전망지표,무역수지,수출 중량,수출 금액,수입 중량,수입 금액,수급안정화지수
0,2021-06-09,18088,2407.510943,2494.113774,1116.890015,12.57,-26962.0,0.0,0.0,311072.1,26962.0,12.08
1,2021-06-10,17783,2436.458355,2523.494802,1116.410034,12.57,-26962.0,0.0,0.0,311072.1,26962.0,12.08
2,2021-06-11,18303,2452.915918,2519.403176,1111.260010,12.57,-26962.0,0.0,0.0,311072.1,26962.0,12.08
3,2021-06-14,18276,2498.367968,2567.594194,1115.550049,12.57,-26962.0,0.0,0.0,311072.1,26962.0,12.08
4,2021-06-15,17909,2496.551463,2564.669309,1116.319946,12.57,-26962.0,0.0,0.0,311072.1,26962.0,12.08
...,...,...,...,...,...,...,...,...,...,...,...,...
739,2024-05-14,18940,2904.495116,2537.347341,1363.790039,36.40,NaN,NaN,NaN,NaN,NaN,36.40
740,2024-05-15,19050,2883.468771,2535.818450,1362.550049,36.40,NaN,NaN,NaN,NaN,NaN,36.40
741,2024-05-16,19335,2908.732163,2555.724912,1353.599976,36.40,NaN,NaN,NaN,NaN,NaN,36.40
742,2024-05-17,20735,2923.022685,2575.030928,1346.040039,36.40,NaN,NaN,NaN,NaN,NaN,36.40
743,2024-05-20,21270,2962.905545,2604.892772,1353.390015,36.40,NaN,NaN,NaN,NaN,NaN,36.40

In [60]:
final4.isna().sum()

기준일         0
기준가격        0
광물종합지수      0
메이저금속지수     0
환율          0
시장전망지표      0
무역수지       13
수출 중량      13
수출 금액      13
수입 중량      13
수입 금액      13
수급안정화지수     0
dtype: int64

In [61]:
final4.to_csv('../data/final/니켈data.csv',encoding='cp949')